* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
}

p {
    color: #6084a4;
    line-height: 1.9;
}
.bg-f9f6f6 {
    background-color: #f9f6f6;
}
p:last-child {
    margin-bottom: 0;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;

    p {
        max-width: 520px;
        margin: 0 auto;
    }
}

.section-title .bar {
    height: 5px;
    width: 90px;
    background: #cdf1d8;
    margin: 20px auto;
    position: relative;
    border-radius: 30px;
}

.section-title .bar {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -2.7px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #44ce6f;
        animation: moveBG linear infinite;
        animation-duration: 3s;
        transition: 3s;
    }
}

.btn {
    font-weight: 600;
    font-size: 14px;
    border: none;
    padding: 15px 40px;
    position: relative;
    border-radius: 4px;
    z-index: 1;
    text-transform: uppercase;
}

.primary-btn {
    color: #fff;
    background-color: #44ce6f;
    -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, .25);
    box-shadow: 0 13px 27px 0 rgba(68, 206, 111, .25);

    &::after {
        content: '';
        background-color: #44ce6f;
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        border-radius: 5px;
        transition: .5s;
    }

    &:hover::after {
        width: 100%;
        right: auto;
        left: 0;
    }
}

// Menu Start
.menu {
    .top-btn {
        button {
            font-weight: 600;
            font-size: 14px;
            border: none;
            padding: 15px 40px;
            position: relative;
            border-radius: 4px;
            z-index: 1;
            text-transform: uppercase;
            position: relative;
            z-index: 2;
        }

        .support-btn {
            background: 0 0;
            border: 2px dashed #cdf1d8;
            padding: 12px 33px;
            margin-right: 10px;
            transition: .3s;
            box-shadow: none;

            &:hover {
                color: #fff;
                border-color: #44ce6f;
            }
        }

        .login-btn {
            background: #c679e3;
            color: #fff;
            box-shadow: 0 13px 27px 0 #c779e347;
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, .25);
        }
    }

    li {
        display: inline-block;
        list-style: none;
        position: relative;
        padding: 15px 0;

        a.cart {
            position: relative;
            margin-right: 20px;
            top: 4px;
        }

        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            color: #4a6f8a;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 14px;
            margin-right: 14px;
            transition: .3s;

            &:hover {
                color: #44ce6f;
            }

            .cart_value {
                display: inline-block;
                background-color: red;
                color: #fff;
                font-size: 9px;
                width: 13px;
                height: 13px;
                text-align: center;
                line-height: 14px;
                border-radius: 50%;
                position: relative;
                top: -7px;
                right: 8px;
            }
        }

        a.active {
            color: #44ce6f;
        }
    }
}

// Menu End

// main banner 
.main-banner {
    position: relative;
    height: 910px;
    z-index: 1;
    background-image: url('../images/baner.jpg');

    .d-table {
        width: 100%;
        height: 100%;

        .d-table-cell {
            vertical-align: middle;
        }
    }

    p {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .get_started {
        &::after {
            background-color: #c679e3;
        }

        &:hover {
            color: #fff;
        }
    }

    .right-banner-img {
        position: relative;

        img {
            position: absolute;
        }

        img:first-child {
            z-index: 3;
            top: -130px;
            left: -45px;
        }

        img:nth-child(2) {
            right: 145px;
            top: -287px;
        }

        img:nth-child(3) {
            left: 25px;
            top: -20px;
        }

        img:nth-child(4) {
            right: 12%;
            top: 118px;
            z-index: 1;
        }

        img:nth-child(5) {
            left: 28%;
            top: -120px;
            z-index: 2;
        }

        img:nth-child(6) {
            right: 35%;
            z-index: 1;
            top: -150px;
        }

        img:nth-child(7) {
            right: 20px;
            top: -110px;
        }

        img:nth-child(8) {
            right: 25px;
            top: -140px;
        }

        img:nth-child(9) {
            right: 33%;
            z-index: 1;
            top: -35px;
        }

        img:nth-child(10) {
            left: 37%;
            top: -28px;
            z-index: 1;
        }

        img:nth-child(11) {
            left: 37%;
            top: -160px;
            z-index: 1;
        }

        img:nth-child(12) {
            left: 120px;
            top: -110px;
        }

        img:nth-child(13) {
            left: 52%;
            top: -25px;
            z-index: 2;
        }

        img:nth-child(14) {
            right: 158px;
            top: -28px;
        }

        img:last-child {
            display: none;
        }
    }
}

// box area

.box-area {
    position: relative;
    padding-bottom: 80px;
    margin-top: -130px;
    z-index: 1;

    .single-box:hover h3,
    .single-box:hover p {
        color: #fff;
    }

    .single-box {
        border: 1px dashed #cdf1d8;
        padding: 30px 20px;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        background: #fff;
        -webkit-box-shadow: 0 0 10px rgba(72, 69, 224, .10);
        box-shadow: 0 0 10px rgba(72, 69, 224, .10);
        transition: .5s;

        .icon i {
            font-size: 22px;
            display: block;
            text-align: center;
            margin-top: 17px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border-radius: 5px;
            height: 100%;
            background: linear-gradient(135deg, #23bdb8, #43e794);
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: .5s;
        }

        &:hover {
            transform: translateY(-10px);
            border-color: transparent;
        }

        &:hover::before {
            opacity: 1;
            visibility: visible;
        }

        h3 {
            font-size: 18px;
            margin-top: 25px;
            margin-bottom: 15px;
        }

        h3,
        p {
            transition: .5s;
        }

        .icon {
            display: inline-block;
            text-align: center;
            width: 55px;
            height: 55px;
            line-height: 70px;
            background: #cdf1d8;
            border-radius: 50%;
            color: #44ce6f;
            transition: .5s;
        }
    }
}

// service area 

.bg-f7fafd {
    background-color: #f7fafd;
}

.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.service_area {
    .bar {
        margin-left: 0;
        margin-right: 0;
    }

    .section-title {
        margin-bottom: 20px;
        text-align: left;

        p {
            margin: 0;
        }
    }

    .row .col-lg-6 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .section-title h2 {
        margin-bottom: 0;
        text-transform: capitalize;
        font-size: 28px;
        font-weight: 600;
    }

    .box,
    .box::before {
        transition: .5s;
        border-radius: 3px;
    }

    .box {
        position: relative;
        z-index: 1;
        display: block;
        padding: 15px 12px;
        color: #6084a4;
        font-weight: 500;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .08);
        margin-top: 20px;

        &:hover {
            color: #fff;
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        &:hover::before {
            opacity: 1;
            visibility: visible;
        }

        &:hover i.feather {
            color: #fff;
        }

        &::before {
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(135deg, #23bdb8, #43e794);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }

        i.feather {
            position: relative;
            // top: 2px;
            margin-right: 5px;
            display: inline-block;
            color: #44ce6f;
            -webkit-transition: .5s;
            transition: .5s;
            width: 18px;
        }
    }

    .services-right-image {
        position: relative;

        img {
            position: absolute;
        }

        img:first-child {
            left: 22%;
            top: -85px;
            z-index: 1;
        }

        img:nth-child(2) {
            left: 0;
            right: 0;
            text-align: center;
            margin: 0 auto;
            top: -52px;
        }

        img:nth-child(3) {
            left: 44%;
            top: -33px;
            z-index: 1;
        }

        img:nth-child(4) {
            right: 38%;
            z-index: 1;
            top: -220px;
        }

        img:nth-child(5) {
            z-index: 1;
            right: 24%;
            top: 8px;
        }

        img:nth-child(6) {
            left: 29%;
            top: 0;
            z-index: 1;
        }

        img:nth-child(7) {
            right: 41%;
            top: -78px;
            z-index: 1;
        }

        img:nth-child(8) {
            right: 30%;
            top: -134px;
            z-index: 1;
        }

        img:nth-child(9) {
            right: 31%;
            top: -21px;
            z-index: 1;
        }

        img:nth-child(10) {
            right: 24%;
            top: -80px;
        }

        img:nth-child(11) {
            left: 27%;
            top: -60px;
            z-index: 2;
        }

        img:nth-child(12) {
            right: 28%;
            z-index: 1;
            top: -54px;
        }

        img:nth-child(13) {
            left: 31%;
            top: -105px;
            z-index: 1;
        }

        img.bg-image {
            top: -262px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
        }

        img:last-child {
            display: none;
        }
    }

    .rotateme {
        animation: rotateme 20s linear infinite;
    }

    .services-left-image {
        position: relative;

        img {
            position: absolute;
        }

        img:first-child {
            left: 15%;
            top: -98px;
        }

        img:nth-child(2) {
            left: 0;
            top: -200px;
            right: 0;
            text-align: center;
            margin: 0 auto;
        }

        img:nth-child(3) {
            left: 36%;
            z-index: 12;
            top: -55px;
        }

        img:nth-child(4) {
            left: 55px;
            top: -38px;
            z-index: 1;
        }

        img:nth-child(5) {
            z-index: 3;
            right: 26%;
            top: -66px;
        }

        img:nth-child(6) {
            right: 19%;
            top: -41px;
            z-index: 2;
        }

        img:nth-child(7) {
            right: 97px;
            top: 40px;
            z-index: 1;
        }

        img:nth-child(8) {
            right: 23%;
            top: -175px;
            z-index: 2;
        }

        img.bg-image {
            top: -262px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
        }

        img:last-child {
            display: none;
        }
    }
}

// feature area

.features-area {
    .single-features {
        position: relative;
        background: #fff;
        padding-left: 95px;
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        -webkit-transition: .5s;
        transition: .5s;

        &:hover {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .08%);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .08%);
        }

        &:hover .icon {
            background: #44ce6f;
            color: #fff;
        }

        .icon i {
            font-size: 22px;
            display: block;
            text-align: center;
            margin-top: 17px;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .icon {
            position: absolute;
            text-align: center;
            width: 55px;
            height: 55px;
            line-height: 69px;
            background: #cdf1d8;
            border-radius: 50%;
            color: #44ce6f;
            left: 20px;
            top: 30px;
            -webkit-transition: .5s;
            transition: .5s;
        }
    }
}


.team_slide{
    // .owl-item{
    //     width: 295px !important;
    // }
    .single-team {
        background: #fff;
        -webkit-transition: .5s;
        transition: .5s;
        z-index: 1;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
        &:hover{
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0 , .08);
            border-color: #fff!important;
        }
        &:hover .team-img img {
            border-color: #44ce6f;
        }
        &:hover .team-img::before {
            height: 0;
        }
        .team-img{
            position: relative;
            z-index: 1;
            padding-left: 35px;
            padding-right: 35px;
            img{
                border: 3px solid #cdf1d8;
                width: auto!important;
                border-radius: 50%;
                display: inline-block!important;
                -webkit-transition: .5s;
                transition: .5s;
            }
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                background: #f9f6f6;
                height: 10px;
                width: 100%;
                z-index: -1;
                -webkit-transition: .5s;
                transition: .5s;
            }
        }
        .team-content{
            padding-left: 35px;
            padding-right: 35px;
            .team-info{
                background: linear-gradient(135deg,#23bdb8,#43e794);
                padding: 10px 15px;
                border-radius: 75px;
                margin-bottom: 25px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 25px;
                -webkit-transition: .5s;
                transition: .5s;
                h3 {
                    font-size: 18px;
                    margin-bottom: 5px;
                    color: #fff;
                }
                span {
                    color: #fff;
                    font-size: 13px;
                }
            }
            ul li {
                display: inline-block;
                margin: 0 5px;
                a {
                    color: #c679e3;
                }
            }
        }
        
        &:hover .team-info {
            margin-left: 0;
            margin-right: 0;
            border-radius: 0;
        }
    }
}

// FUNFACTS

.funfacts-area{
    position: relative;
    z-index: 1;
    .funfact {
        text-align: center;
        h3 {
            color: #44ce6f;
            font-size: 32px;
            margin-bottom: 7px;
            font-family: Arial, Helvetica, sans-serif;
            span{
                // margin-left: -8px;
                font-weight: 500;
            }
        }
    }
    .section-title h2 {
        max-width: 520px;
        margin: 0 auto;
        line-height: 37px;
    }
    .map_img{
        position: absolute;
        z-index: -1;
        top: 120px;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
    }
    .contact-cta-box{
        margin: 80px auto 0;
        max-width: 600px;
        border: 1px dashed #ebebeb;
        padding: 30px 210px 30px 30px;
        border-radius: 5px;
        position: relative;
        h3 {
            font-size: 20px;
            margin-bottom: 6px;
        }
        p {
            margin-bottom: 0;
        }
        .primary-btn{
            color: #fff;
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -27px;
            &::after{
                background-color: #c679e3;
            }
        }
    }
}

// work-area

.works-area{
    .work-slide{
        .single-work{
            position: relative;
            margin-bottom: 30px;
            img{
                height: 290px;
            }
            .icon:hover{
                background: #0e314c;
                color: #fff;
                a{
                    color: #fff;
                }
            }
            &::before{
                content: "";
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(135deg,#23bdb8,#43e794);
            }
            &:hover{
                .icon {
                    opacity: 1;
                    visibility: visible;
                    top: 25px;
                }
            }
            &:hover{
                .works-content {
                    opacity: 1;
                    visibility: visible;
                    bottom: 0;
                }
            }
            &:hover::before{
                opacity: .8;
                visibility: visible;
            }
            .works-content{
                position: absolute;
                bottom: -60px;
                left: 0;
                padding: 20px;
                -webkit-transition: .5s;
                transition: .5s;
                opacity: 0;
                visibility: hidden;
                h4 a,p{
                    color: #fff;
                    text-decoration: none;
                }
            }
            .icon{
                border-radius: 50%;
                right: 25px;
                background: #fff;
                width: 45px;
                text-align: center;
                height: 45px;
                line-height: 54px;
                position: absolute;
                top: 0;
                -webkit-transition: .5s;
                transition: .5s;
                opacity: 0;
                visibility: hidden;
                a{
                    color:#000;
                    text-decoration: none;
                }
                i {
                    font-size: 22px;
                    display: block;
                    text-align: center;
                    margin-top: 12px;
                }
            }
            &::before{
                position: absolute;
                top: 0;
                -webkit-transition: .5s;
                transition: .5s;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.pricing-table, .pricing-table .pricing-header {
    background: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}

.pricing-area{
    .pricing-table {
        text-align: center;
        -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0,0.06);
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0,0.06);
        border-radius: 5px;
        padding-bottom: 35px;
    }
}







@keyframes moveBG {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(88px);
    }
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}






@media (max-width: 991px) {
    .box-area {
        padding-bottom: 50px;
        margin-top: 0px;
    }
}








@media (max-width: 767px) {
    .main-banner .right-banner-img img {
        display: none;
        position: relative;
    }
    .services-right-image img , .services-left-image img {
        display: none;
        position: relative;
    }
    .main-banner .right-banner-img img:last-child {
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .service_area .services-right-image img:last-child,.service_area .services-left-image img:last-child {
        display: block;
        position: relative;
        margin: 20px auto;
    }
    
}